@import '../../styles/variables.scss';

.coursePreview {
  background-color: $bgColour;
  .courseProgress {
    width: 100%;
    height: 12px;
    margin-bottom: 10px;
		// Track colour
    background-color: lighten($primaryColour, 40%);
    border-radius: 10px; // Rounded corners
    overflow: hidden; // Ensure the inner bar doesn't overflow
    position: relative;

    &::-webkit-progress-bar {
			// Don't show default background
      background-color: transparent;
    }

    &::-webkit-progress-value {
      background: linear-gradient(90deg, $primaryColour, $tertiaryColour);
      border-radius: 10px;
			box-shadow: 0 4px 12px $primaryColour;
      transition: width 0.5s ease;
    }
		// Firefox
    &::-moz-progress-bar {
      background: linear-gradient(90deg, $primaryColour, $tertiaryColour);
      border-radius: 10px;
      box-shadow: 0 4px 12px $primaryColour;
    }
	}
  .coursePreviewHeader {
		background-color: $mixedColour;
		color: $headerButtonTextColour;
		padding: 10px;
		border-radius: 12px;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
		text-align: center;

	  h1 {
			margin: 0;
			font-size: 40px;
			font-weight: 700;
			color: $headerButtonTextColour;
		}
		.headerContainer {
			display: flex;
			align-items: center;
			width: 100%;
		}
		.headerContainer h1 {
			flex-grow: 1;
			text-align: center;
			margin: 0;
		}
		
  }
  .coursePreviewBody {
    display: flex;
    gap: 20px;
    margin-top: 20px;

		.coursePreviewContent {
			flex: 1;
			padding: 20px;
			display: flex;
			justify-content: center;
			background-color: $bgColour;
			border-radius: 5px;
			box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
		}
  }




}




