@import '../../styles/variables.scss';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $secondaryColour;
  color: white;
  padding: 12px;
  font-size: 14px;
  text-align: center;
  flex-shrink: 0;

  p {
    margin: 0;
    line-height: 1.5;
  }
  a {
    color: white;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  .footerLinks {
    margin-top: 6px;

    a {
      margin: 0 8px;
    }
  }

  @media (max-width: 768px) {
    font-size: 12px;

    .footerLinks {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      a {
        margin: 4px 6px;
      }
    }
  }
}
