@import '../styles/variables';

.footer {
	background-color: $secondaryColour;
	color: white;
	text-align: center;
	padding: 16px;
	position: sticky;
	bottom: 0;

	
	@media (max-width: 768px) {
		padding: 10px;
	}
}
