@import '../../styles/variables.scss';

.header {
	background-color: $primaryColour;
	color: white;
	padding: 7px 14px;
	position: sticky;
	top: 0;
	display: flex;
	align-items: center; 
	justify-content: space-between; 
	z-index: 1;

	.navContainer{
		display:flex;
		width:90%;
	}
	.headerButtons{
		display:flex;
		margin-left: 10px;
	}
	.logo {
		margin-right: 15px;
		img {
			height: 30px;
			width: 120px;
			margin-top: 9px;
			transform: scale(1.15);
			transition: transform 0.3s ease;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
	@media (max-width: 768px) {
		flex-direction: column;
		padding: 5px;
		.logo {
			display:none;
		}
		.navContainer{
			width: 100%;
		}
		.headerButtons{
			display:none;
		}

	}
}

