@import '../styles/variables';

.navbar {
	background-color: $secondaryColour;
	padding: 16px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
	border-radius: 4px; 
	width:80%;
	ul {
		list-style: none;
		display: flex;
		margin: 0;
		padding: 0;

		li {
			margin: 0 15px; 

			a {
				color: white;
				text-decoration: none;
				font-size: 1rem;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

