$primaryColour: #3e92cc;
$secondaryColour: #190b28;
$tertiaryColour: #00c9fc;
$bgColour: #fffaff;

$headerButtonColour: #1e3c72;
$headerButtonTextColour: white;
$mixedColour: mix($secondaryColour, $primaryColour, 50%);
