@import '../../styles/variables.scss';

.courseEditor {
  background-color: $bgColour;
	
  .courseEditorHeader {
		background-color: $mixedColour;
		color: $headerButtonTextColour;
		padding: 10px;
		border-radius: 12px;
		margin-bottom: 20px;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
		text-align: center;
	
	  h1 {
			margin: 0;
			font-size: 40px;
			font-weight: 700;
			color: $headerButtonTextColour;
		}
		.headerContainer {
			display: flex;
			align-items: center;
			width: 100%;
		}
		.headerContainer h1 {
			flex-grow: 1;
			text-align: center;
			margin: 0;
		}
		
		// Modify button styling
		.defaultStyle{
			padding: 0 10px;
		}
  }
  .courseEditorBody {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }

  .courseEditorContent {
    flex: 1;
    padding: 20px;
		justify-items: center;
    background-color: $bgColour;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display: block;
  }


}




