@import '../../styles/variables.scss';

%baseButton {
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
	color: $bgColour;
	line-height: 1;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}
// Buttons ------------------------------------------------------------------------------
.defaultStyle {
  @extend %baseButton;
  background-color: $primaryColour;
	max-height: 40px;
	&:hover {
		background-color: darken($primaryColour, 10%);
	}
}

.headerButton {
  @extend %baseButton;
  background-color: $headerButtonColour;
  color: $headerButtonTextColour;
  text-wrap: nowrap;
	font-weight: 600;

	&:hover {
		background-color: darken($headerButtonColour, 10%);
		transform: translateY(-1px);
	}
}

// Forms
.formButton {
  @extend %baseButton;
  padding: 8px 16px;
	font-weight: 600;
	&:hover {
		transform: translateY(-1px);
	}

	&.submitButton {
		background-color: $primaryColour;
		color: $headerButtonTextColour;

		&:hover {
			background-color: darken($primaryColour, 10%);
		}
	}

	&.cancelButton {
		background-color: $mixedColour;
		color: $headerButtonTextColour;

		&:hover {
			background-color: darken($mixedColour, 10%);
		}
	}
	&.removeButton{
		background-color: $primaryColour;
		color: $headerButtonTextColour;
		border-radius: 6px;
		padding: 5px 7px;

		&:hover {
			background-color: $warningColour;
		}
	}
	&.addButton{
		background-color: $primaryColour;
		color: $headerButtonTextColour;
		border-radius: 6px;
		padding: 7px 12px;
		&:hover {
			background-color: mix($primaryColour, $successColour, 50%);
		}
	}
}
// Rich Text Editor
.optionsBarButton {
	@extend %baseButton;
	padding: 8px 12px;
	background-color: $primaryColour;
	max-height: 40px;
	&.isActive {
			background-color: $secondaryColour;
	}
	&:hover {
		background-color: $mixedColour;
		box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	}
}

// HoverMenu 
.hoverButton {
	@extend %baseButton;
	background-color: $primaryColour;
	font-weight: bold;
	padding: 8px 12px;
	min-height: 40px;

	&:hover {
		background-color: $mixedColour;
		box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	}
}
// Trays ----------------------------------------------------------------------------
.defaultButtonTray{
	display: flex;
	gap: 5px;
	margin-bottom: 10px;
	margin-top: 5px;
	justify-content: center;
}
.headerButtonTray{
	display: flex;
	gap: 5px;
}
// Forms
.formButtonTray {
	display: flex;
	gap: 10px;
	margin-top: 20px;

}


