@import '../styles/variables.scss';

.defaultStyle {
	background-color: $primaryColour;
	color: $bgColour;
	border: none;
	border-radius: 4px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: $secondaryColour;
	}
}

.buttonTray{
	display: flex;
	gap: 5px;
}


