@import '../styles/variables.scss';
.hovermenu {
  position: relative;
  display: inline-block;


  .arrow {
    display: inline-block;
    transition: transform 0.3s ease;
  }

  &:hover .arrow {
    transform: rotate(90deg);
  }
  .content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
		width:170px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
		cursor: pointer;

    a {
      color: black;
      padding: 12px 10px;
      text-decoration: none;
      display: flex;
      transition: background-color 0.3s;

      &:hover {
        background-color: #f1f1f1;
      }
    }
  }

  &:hover .content {
    display: block;
  }
  &:hover .hoverButton .arrow {
    transform: rotate(90deg);
  }
}
